<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>


</head>

<body>

    <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dev_show">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">add new</a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container">


        <h1 class="text-warning text-center">Name list</h1>


        <table class="table table-hover table-bordered table-striped table-condensed" id="table_id">

            <thead>
                <tr>
                    <th> Name</th>
                    <th> Address</th>
                    <th>Address2</th>
                    <th>State</th>
                    <th>Country</th>
                    <th>Zip</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<category.length;i++) { %>
                    <tr>
                        <td>
                            <%=category[i].name %>
                        </td>
                        <td>
                            <%=category[i].address %>
                        </td>
                        <td>
                            <%=category[i].address2 %>
                        </td>
                        <td>
                            <%=category[i].state %>
                        </td>
                        <td>
                            <%=category[i].country %>
                        </td>
                        <td>
                            <%=category[i].zip %>
                        </td>

                        

                        <td>
                            <form action="/dev_delete/<%=category[i]._id%>" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>


                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready( function () {
            $('#table_id').DataTable({
                columnDefs: [{ searchable: false, targets: 6},{ orderable: false, targets: 6}]
            });
        });
    </script> 

</body>


</html>